.weather-data-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper {
  border-radius: 12px;
  padding: 12px;
  margin: 10px;
  text-align: center;
  position: relative;
}

.bg-img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weekly-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.weekly-data {
  display: flex;
  justify-content: space-around;
}

.weekly-data-card {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .weather-data-section {
    align-items: stretch;
  }

  .card-wrapper {
    width: 90%;
    margin: 10px auto;
  }
}
